html[data-theme='light-mode'] {
  /* GLOBAL STYLES */
  body {
    background: $color-fake-white;
  }
  /* COLORS */
  $color-first-layer: rgba(111, 129, 145, 0.05);
  $color-second-layer: rgba(111, 129, 145, 0.11);
  $color-third-layer: rgba(111, 129, 145, 0.16);
  $color-white-text: rgba(111, 129, 145, 0.95);
  $color-light-text: rgba(111, 129, 145, 0.87);
  $color-medium-text: rgba(111, 129, 145, 0.6);
  $color-disabled-text: rgba(111, 129, 145, 0.3);
  $color-text-paragraph: #6f8191;
  /* TYPOGRAPHY */
  h2 {
    color: $color-medium-gray;
  }
  h3 {
    color: $color-light-red;
  }
  h4 {
    color: $color-medium-text;
  }
  h5 {
    color: $color-text-paragraph;
  }
  p,
  input {
    color: $color-text-paragraph;
    font-weight: 400;
  }
  /* TOP HEADER */
  .top-header {
    path {
      fill: $color-light-red;
    }
  }
  /* GROUP FORM */
  .group-form {
    &__input {
      background-color: $color-second-layer;
      border-color: $color-second-layer;
      &::placeholder {
        color: $color-disabled-text;
      }
      &:focus {
        background-color: white;
        border-color: $color-first-layer;
      }
    }
    &__toggle-text {
      color: $color-text-paragraph;
    }
    &__toggle {
      &__slider {
        background-color: $color-light-gray;
        &:before {
          background-color: $color-fake-white;
        }
      }
    }
  }
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus {
    -webkit-text-fill-color: $color-medium-text;
    -webkit-box-shadow: 0 0 0px 800px $color-first-layer inset;
    transition: background-color 5000s ease-in-out 0s;
  }
  .searchbar {
    background: url(/images/icon-search-dark.svg) no-repeat 16px 16px $color-second-layer;
    color: $color-medium-text;
    &::placeholder {
      color: $color-medium-text;
    }
  }
  textarea {
    background-color: $color-second-layer;
    color: $color-disabled-text;
    &:focus {
      background-color: white;
      color: $color-text-paragraph;
    }
  }
  /* BUTTONS */
  .btn-outlined {
    background-color: transparent;
  }
  /* NAVBAR */
  nav {
    background-color: white;
  }
  .navbar {
    -webkit-box-shadow: 0px -1px 4px 0px $color-second-layer;
    -moz-box-shadow: 0px -1px 4px 0px $color-second-layer;
    box-shadow: 0px -1px 4px 0px $color-second-layer;
    &__active {
      path {
        fill: $color-light-red !important;
      }
    }
    &__item:not(.add-btn) {
      path {
        fill: rgba(61, 66, 73, 0.3);
      }
    }
  }
  .add-btn.active {
    background-color: $color-text-paragraph;
  }
  /* CARD */
  .card {
    background-color: white;
    &__time {
      color: $color-text-paragraph;
      span {
        path {
          fill: $color-text-paragraph;
        }
      }
    }
    &__categories {
      ul {
        li {
          color: $color-medium-text;
        }
      }
    }
    &__chat {
      svg {
        path {
          fill: $color-text-paragraph;
        }
      }
      &--none {
        svg {
          path {
            fill: $color-disabled-text;
          }
        }
      }
    }
    &__report {
      path {
        fill: $color-medium-text;
      }
    }
  }
  /* MY CONFESSIONS CARD */
  .card {
    &__categories {
      color: $color-medium-text;
    }
    &__likes {
      &__length {
        color: $color-medium-text;
      }
    }
    &__todelete {
      path {
        fill: $color-medium-text;
      }
    }
    &__date {
      color: $color-medium-text;
    }
    &--encoded {
      background-color: $color-third-layer;
      color: transparent;
    }
    &__header {
      path {
        fill: $color-medium-text;
      }
    }
  }
  /* MODALS */
  .popup-content {
    background-color: white !important;
    &__close {
      path {
        fill: $color-light-red;
      }
    }
  }
  .popup-overlay {
    background-color: white;
  }
  /* POLICY */
  .cross_list_item {
    color: $color-text-paragraph;
    font-weight: 400;
  }
  /* NOTIFICATIONS */
  .notification {
    color: white;
  }
  .close_notification {
    path {
      fill: white;
    }
  }
}
