// Dark mode - Main colors //
$color-light-red: #ff7f57;
$color-light-purple: #7886ba;

// Light mode - Main colors //
$color-dark-red: #e45f35;
$color-dark-purple: #51629e;

// Secondary colors //
$color-dark-gray: #3d4249;
$color-medium-gray: #6f8191;
$color-light-gray: #cbd2d9;
$color-fake-white: #f4f2ef;

// Dark Mode - UI Grayscale //
$color-dark-bg: #121212;
$color-first-layer: rgba(255, 255, 255, 0.05);
$color-second-layer: rgba(255, 255, 255, 0.11);
$color-third-layer: rgba(255, 255, 255, 0.16);
$color-white-text: rgba(255, 255, 255, 0.95);
$color-light-text: rgba(255, 255, 255, 0.87);
$color-medium-text: rgba(255, 255, 255, 0.6);
$color-disabled-text: rgba(255, 255, 255, 0.25);

// Errors and notifications //
$color-error: #ec8f72;
$color-sucess: #8691bb;
$color-dark-bg: #121212;
