@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600|Rubik:400,700&display=swap');
@import '../base/colors';

* {
  font-size: 16px;
}

.container {
  font-size: 1rem;
}

h1,
h2,
h4 {
  font-family: 'Rubik', sans-serif;
}

h3,
h5,
p,
ul,
span {
  font-family: 'Open Sans', sans-serif;
}

// Variables //

$text-paragraph: 1em;
$text-xs: 0.875em;

p {
  font-size: $text-paragraph;
  color: $color-white-text;
  font-weight: 300;
  line-height: 1.6em;
}
