/* This gave conflict, I don't which font-weight is the good one so I left both */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600|Rubik:400,600&display=swap');

@import '../base/colors';

* {
  font-size: 16px;
}

.container {
  font-size: 1rem;
}

h1,
h2 {
  font-family: 'Rubik', sans-serif;
}

h3,
h5,
h4,
p,
a,
ul,
span,
input,
label,
button {
  font-family: 'Open Sans', sans-serif;
}

.red-link {
  color: $color-light-red;
}

.white-link {
  border-bottom: 1px solid $color-white-text;
}

// Variables //

$text-paragraph: 1em;
$text-xs: 0.875em;

p,
input {
  font-size: $text-paragraph;
  color: $color-white-text;
  font-weight: 300;
  line-height: 1.6em;
}

h2 {
  color: $color-light-red;
  font-size: 1.616em;
  text-align: center;
  line-height: 1.3em;
}

h3 {
  color: $color-medium-text;
  font-size: 1.471em;
  font-weight: 300;
  text-align: center;
}

h4 {
  color: $color-medium-text;
  font-size: 1.3em;
  line-height: 1.4em;
  margin-bottom: 2em;
}

h5 {
  color: $color-white-text;
  font-size: 1.253em;
  margin: 2em 0 1em;
  font-weight: 600;
}
