@import '../base/colors';
@import '../base/typography';

.scroll {
  overflow: auto;
  white-space: nowrap;
  overflow-x: scroll;
  scroll-snap-type: x proximity;
  /*for iOS scrolling*/
  -webkit-overflow-scrolling: touch;
  margin: 0 -1em;
  &::-webkit-scrollbar {
    height: 12px;
  }
  &::-webkit-scrollbar-thumb {
    background: $color-third-layer;
    border-radius: 12px;
    width: 20px;
    margin: 0 1em;
  }
  &__list {
    display: flex;
    justify-content: space-between;
  }
  &__item {
    padding: 0.5em;
    text-align: center;
  }
  &__image {
    width: 120px;
  }
  &__title {
    font-size: $text-paragraph;
    color: $color-medium-text;
    font-weight: 600;
    margin: 0.5em 0;
    letter-spacing: 0.05em;
  }
}

// .scroll {
//   overflow: auto;
//   white-space: nowrap;
//   overflow-x: scroll;
//   scroll-snap-type: x proximity;
//   margin: 0 -1em;
//   &__item {
//     height: auto;
//     display: inline-block;
//     text-align: center;
//     padding: 5%;
//     text-decoration: none;
//   }
//   &__image {
//     width: 120px;
//   }
//   &::-webkit-scrollbar {
//     height: 12px;
//   }
//   &::-webkit-scrollbar-thumb {
//     background: $color-third-layer;
//     border-radius: 12px;
//     width: 25px;
//     margin: 0 1em;
//   }
// }
