.notfound {
  height: 100vh;
  position: relative;
  font-size: 1rem;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../data/images/404.jpg');
    background-size: 100% 100%;
    background-color: $color-dark-gray;
    background-repeat: no-repeat;
    filter: opacity(80%);
  }
  &__content {
    position: relative;
    padding: 1em;
  }
  &__logo {
    text-align: center;
    margin: 3.5em auto 2em;
  }
  &__message {
    text-align: center;
    width: 80%;
    margin: 0 auto;
    &__title {
      color: $color-light-red;
      font-size: 4em;
      font-weight: 800;
      margin-bottom: 0.5em;
    }
    &__subtitle {
      color: $color-light-text;
      font-size: 2.4em;
      font-weight: 800;
    }
    &__description {
      color: $color-light-text;
      font-size: 1.6em;
      line-height: 1.4;
      margin-top: 1em;
    }
  }
}
