@import '../base/colors';
@import '../base/typography';

.form {
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  background-color: $color-dark-gray;
  min-height: 100vh;
  height: 100%;
  margin-bottom: 120px;
}

label {
  color: $color-light-gray;
  margin: 5px 0 10px 0;
}

textarea {
  width: 314px;
  height: 200px;
  background-color: $color-text-area;
  border: $color-text-area;
  border-radius: 10px;
  padding: 17px 14px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  margin-top: 16px;
}

.xsmall-text {
  color: $color-medium-gray;
}

.form li img {
  opacity: 0.6;
}

.activeStyle {
  img {
    opacity: 1;
  }
  p {
    color: $color-dark-red;
  }
}