@import '../base/colors';
@import '../base/typography';

nav {
  height: 64px;
  background-color: $color-dark-gray;
  position: -webkit-sticky; /* Safari */
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1;
}

.navbar {
  background-color: $color-first-layer;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  -webkit-box-shadow: 0px -1px 4px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px -1px 4px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px -1px 4px 0px rgba(0, 0, 0, 0.1);
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 60px;
    text-decoration: none;
    path {
      fill: $color-light-text;
      transition: 0.05s;
    }
  }
  &__active {
    -webkit-animation: scale-up-center 0.2s ease-out;
    animation: scale-up-center 0.2s ease-out;
    path {
      fill: $color-light-red;
    }
    .navbar__label {
      opacity: 100;
      margin-top: 5px;
      color: $color-light-red;
      font-size: $text-xs;
    }
  }
  &__label {
    opacity: 0;
    font-size: 0;
    transform: display 2s;
  }
}

@-webkit-keyframes navbar__active {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes navbar__active {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.add-btn.active {
  background-color: $color-dark-gray;
}
