@import '../base/colors';


.cross_list_item {
	margin: 0;
	padding: 10px 0 10px 50px;
	list-style: none;
	background-image: url('../../data/images/icon-close.png');
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 30px;
  font-size: $text-paragraph;
  color: $color-white-text;
  font-weight: 300;
  line-height: 1.6em;
}